@import url("font/Manrope/manrope.css");
@import url("font/Pacifico/pacifico.css");

/*******************\
        CORE
\*******************/
/* normalize */
html, body, div, h1, p, a, video {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    width: 100%;
}
/* Body typography */
body {
    -webkit-font-smoothing: antialiased;
}
/* Links */
a {
    text-decoration: none;
    color: #d2a473;
    -webkit-transition: color 0.1s ease;
    transition: color 0.1s ease;
    outline: 0;
}
a:hover, a:focus {
    text-decoration: none;
    outline: 0;
}
body {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-focus-ring-color: rgba(255, 255, 255, 0);
    outline: none;
    resize: none;
    -webkit-text-size-adjust: none;
}
    input, textarea {
        -moz-user-select: text;
        -o-user-select: text;
        -khtml-user-select: text;
        -webkit-user-select: text;
        user-select: text;
        resize: none;
    }

/* scroll */
#App:not(.mobile)::-webkit-scrollbar {
    width: 16px;
    background-color: transparent;
}
#App:not(.mobile)::-webkit-scrollbar-thumb {
    background-color: #019e47;
    border: 4px solid transparent;
    border-radius: 10px;
    background-clip: padding-box;
}
#App:not(.mobile)::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background-color: #d2d2d2;
}
#App:not(.mobile)::-webkit-scrollbar-track {
    background: transparent;
}

[v-cloak] { display: none !important }

.loading {
    overflow: hidden !important;
    position: relative;
}
    .loading::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-image: url(images/logo.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 230px 150px;
        background-color: rgb(0 0 0);
        z-index: 9999;
        animation: pulse 1s infinite;
    }


/*******************\     
       MARKUP
\*******************/
body {
    background-color: #0c0d0f;
    max-height: 100vh;
    overflow: hidden;
}
    #App {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 0px;
        margin: 0px;
        overflow: auto;
    }
        .section__wrapper {
            max-width: 1260px;
            width: calc(100% - 20px);
            margin: 0 10px;
        }

/* header */
header {
    display: flex;
    flex-direction: column;
}
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        width:  100%;
        min-height: 110vh;
        background-image: url(images/background_header_leaf-left.png), url(images/background_header_leaf-right.png), url(images/background_header.png);
        background-repeat: no-repeat;
        background-position: left, right, 50% 100%;
        background-size: contain, contain, cover;
    }
        .header__wrapper {
            display: flex;
            flex-direction: column;
            margin-top: 50px;
            height: 100%;
            justify-content: space-between;
            position: relative;
        }
            .header__logo__wrapper {
                display: flex;
            }
                .header__logo {
                    display: flex;
                }
            .header__order__wrapper {
                display: flex;
                position: absolute;
                top: 0;
                right: 0;
            }
            .header__logoText__wrapper {
                display: flex;
                flex-direction: column;
                margin: 20px 0;
            }
                .header__logoText {
                    display: flex;
                    max-width: 632px;
                    margin-bottom: 6vw;
                }
                .header__logoText__text {
                    display: flex;
                    font-family: 'Manrope ExtraLight';
                    color: #fff;
                    font-size: 36px;
                    line-height: 48px;
                }
            .header__arrow__wrapper {
                display: flex;
                justify-content: flex-start;
            }
                .header__arrow {
                    display: flex;
                    width: 104px;
                    height: 104px;
                    background-image: url(images/arrow_down.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    margin: 20px 0;
                    cursor: pointer;
                    animation: shakeY 7s infinite;
                    filter: invert(1);
                }

/* main */
main {
    display: flex;
    flex-direction: column;
    background-image: url(images/back_bottom.png), url(images/back_smoke_bottom.png);
    background-repeat: no-repeat;
    background-position: 100% 100%, 49% calc(100% + 7vw);
    background-size: 130vw, 121%;
}
    .menu__order {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 208px;
        height: 50px;
        border: 2px solid #fff;
        background-color: black;
        border-radius: 5px;
        color: #fff;
        font-family: 'Manrope ExtraLight';
        font-size: 17px;
        padding: 0;
        cursor: pointer;
    }
    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        position: sticky;
        top: 0;
        z-index: 3;
        background-color: rgba(0,0,0,.8);
    }
        .menu__wrapper {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            margin-bottom: 20px;
        }
            .menu__container {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
            }
                .menu__mobile__wrapper {
                    display: flex;
                    align-items: center;
                }
                    .menu__mobile__btn {
                        display: flex;
                        position: relative;
                        width: 32px;
                        height: 28px;
                        margin: 10px;
                        cursor: pointer;
                    }
                        .menu__mobile__btn::before,
                        .menu__mobile__btn::after {
                            content: '';
                            position: absolute;
                            width: 100%;
                            height: 13px;max-height: 13px;
                            border-top: 2px solid #fff;
                            border-bottom: 2px solid #fff;
                            transition: all .3s;
                        }
                        .menu__mobile__btn::before {
                            transform: rotateX(45deg);
                        }
                        .menu__mobile__btn::after {
                            transform: rotateX(-45deg);
                            bottom: 0;
                        }
                    .menu__mobile__title {
                        display: flex;
                        margin: 0 auto;
                    }
                .menu__item__wrapper {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 20px;
                    max-height: 1000px;
                    padding-top: 20px;
                    transition: all .3s;
                }
                    .menu__item {
                        display: flex;
                        font-family: 'Manrope ExtraLight';
                        font-size: 22px;
                        color: #fff;
                        cursor: pointer;
                        transition: color .3s;
                    }
                    .menu__item:hover {
                        color: #ff9300;
                    }
                    .menu__item.active {
                        font-weight: 800;
                        color: #ff9300;
                    }
            .order__container {
                display: flex;
                flex-shrink: 0;
            }
    .menu__position {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        position: relative;
        padding-top: 80px;
    }
    .menu__position::before {
        content: '';
        position: absolute;
        background-image: url(images/section_back.png);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        opacity: 0.5;
    }
    .menu__position:last-of-type {
        padding-bottom: 350px;
    }
        .menu__position__wrapper {
            display: flex;
            flex-direction: column;
            gap: 60px;
            position: relative;
            z-index: 2;
        }
            .menu__position__title {
                display: flex;
                font-family: 'Manrope Bold';
                font-size: 46px;
                color: #fff;
            }
            .menu__position__item__wrapper {
                display: flex;
                flex-wrap: wrap;
                gap: 30px;
            }
                .menu__position__item {
                    display: flex;
                    flex-direction: column;
                    flex-grow: 0;
                    flex-shrink: 1;
                    flex-basis: calc((100% / 3) - 20px);
                    max-width: 400px;
                    /* min-height: 590px; */
                    background-color: #141617;
                    border-radius: 10px;
                    overflow: hidden;
                    transition: transform .3s;
                    min-width: 300px;
                }
                    .menu__position__item:hover {
                        transform: scale(1.1);
                    }
                    .menu__position__item__top {
                        display: flex;
                        position: relative;
                        overflow: hidden;
                        height: 320px;
                        justify-content: center;
                        align-items: center;
                    }
                        .menu__position__item__img {
                            display: flex;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            width: auto;
                            height: calc(100% + 2px);
                            transform: translate(-50%, -50%);
                        }
                        .menu__position__item__img[src$='none.png'] {
                            width: 50%;
                            height: auto;
                        }
                    .menu__position__item__middle {
                        display: flex;
                        flex-direction: column;
                        margin: 30px 20px 10px;
                        gap: 10px;
                    }
                        .menu__position__item__title__wrapper {
                            display: flex;
                            justify-content: space-between;
                            gap: 20px;
                            align-items: baseline;
                        }
                            .menu__position__item__title {
                                display: flex;
                                font-family: 'Manrope Medium';
                                font-size: 28px;
                                color: #fff;
                            }
                            .menu__position__item__size {
                                display: flex;
                                font-family: 'Manrope ExtraLight';
                                font-size: 17px;
                                color: rgba(255,255,255, .5);
                            }
                        .menu__position__item__about {
                            display: flex;
                            font-family: 'Manrope ExtraLight';
                            font-size: 17px;
                            line-height: 22px;
                            color: rgba(255,255,255, .8);
                        }
                    .menu__position__item__bottom {
                        display: flex;
                        margin: 0px 20px 20px;
                        flex-grow: 1;
                        align-items: flex-end;
                        justify-content: space-between;
                        gap: 20px;
                    }
                        .menu__position__item__price {
                            display: flex;
                            font-family: 'Manrope ExtraLight';
                            font-size: 28px;
                            color: #fff;
                        }
                        .menu__position__item__btn__wrapper {
                            display: flex;
                            font-family: 'Manrope ExtraLight';
                            font-size: 17px;
                            color: #fff;
                            width: 141px;
                            height: 40px;
                            justify-content: center;
                            align-items: center;
                            border-radius: 5px;
                            border: 1px solid #fff;
                            cursor: pointer;
                        }
                        .menu__position__item__btn__wrapper:hover {
                            animation: headShake 1s;
                        }
                            .menu__position__item__btn__add {
                                display: flex;
                            }
                            .menu__position__item__btn__multiple {
                                display: flex;
                            }

/* backs */
.menu__position[data-title="Пиво"] {
    background-image: url(images/back_beer_smoke1.png), url(images/back_beer_smoke2.png);
    background-repeat: no-repeat;
    background-position: 0 50%, 100% 100%;
    background-size: contain, contain;
}
.menu__position[data-title="Молочные коктейли"]::after {
    content: '';
    position: absolute;background-image: url(images/background_sparks.png);
    background-repeat: no-repeat;
    background-position: -15% 50%;
    background-size: 35%;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0.5;
    filter: saturate(0.5);
}
.menu__position[data-title="Коктейли"] {
    background-image: url(images/кальян.png);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: 41%;
}
.menu__position[data-title="Дымные чаши"] {
    background-image: url(images/дымные-чаши-1.png);
    background-repeat: no-repeat;
    background-position: -10% 100%;
    background-size: 27%;
}

/* footer */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #0c0d0f;
}
    .footer__wrapper {
        display: flex;
        flex-direction: column;
        gap: 55px;
        margin: 100px 0 95px;
    }
        .footer__top {
            display: flex;
        }
            .footer__title {
                display: flex;
                font-size: 46px;
                line-height: 60px;
                font-family: 'Manrope Bold';
                color: #fff;
            }
        .footer__bottom {
            display: flex;
            flex-wrap: wrap;
            gap: 55px;
            font-size: 22px;
            line-height: 30px;
            font-family: 'Manrope ExtraLight';
            color: #fff;
        }
            .footer__bottom > * {
                min-width: 500px;
                flex-basis: calc((100% - 55px) /2);
                flex-grow: 1;
                flex-shrink: 1;
            }
            .footer__left {
                display: flex;
                flex-direction: column;
                gap: 40px;
            }
                .footer__block {
                    display: flex;
                }
                .footer__hr {
                    display: flex;
                    border-bottom: 1px dashed #fff;
                    width: 96%;
                }
            .footer__right {
                display: flex;
                flex-direction: column;
                gap: 65px;
            }
                .footer__block {
                    display: flex;
                }


/*******************\     
        MOBILE
\*******************/
/* header */
.mobile .header {
    background-position: left, right, 76% 324px;
}
.mobile .header__wrapper {
    align-items: center;
    justify-content: flex-start;
    gap: 8vw;
    
}
    .mobile .header__logoText__wrapper {
        align-items: center;
    }
        .mobile .header__logoText {
            max-width: 80%;
        }
            .mobile .header__logoText__text {
                font-size: 6vw;
                line-height: 38px;
            }
.mobile .header__arrow__wrapper {
    flex-grow: 1;
    align-items: flex-end;
}

.mobile .menu__item {
    padding: 5px 20px;
    border: 1px solid #fff;
    border-radius: 5px;
}
.mobile .menu__item.active {
    border-color: #ff9300;
    color: #fff;
    background-color: #ff9300;
}
.mobile .menu__item__wrapper {
    padding-top: 0;
    max-height: 0px;
    overflow: hidden;
}
    .menu__container.open .menu__mobile__btn::before {
        max-height: 1px;
        top: 50%;
        transform: rotate(315deg);
        transform-origin: center;
    }
    .menu__container.open .menu__mobile__btn::after {
        max-height: 1px;
        top: 50%;
        transform: rotate(45deg);
        transform-origin: center;
    }
    .mobile .menu__container.open .menu__item__wrapper {
        padding-top: 20px;
        max-height: 1000px;
    }

/*******************\     
        MODAL
\*******************/


/*******************\ 
      ANIMATION
\*******************/
.fade-scale {
    transform: scale(0);
    opacity: 0;
    -webkit-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear;
}
.fade-scale.show {
    opacity: 1;
    transform: scale(1);
}

@keyframes answer {
    0% {
        opacity: .5;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 30px;
        max-height: 30px;
    }
    40% {
        opacity: 1;
        max-width: 70px;
        max-height: 70px;
    }
    60% {
        opacity: 1;
        max-width: 70px;
        max-height: 70px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    100% {
        opacity: 1;
        max-width: 30px;
        max-height: 30px;
        top: -12px;
        left: calc(100% - 16px);
    }
}
/*******************\
        MEDIA
\*******************/
/* style for device width < 1300px */
@media (max-width: 1299.98px) {
    .menu__position__item__wrapper {
        
    }
}
/* style for device width < 1050px */
@media (max-width: 1049.98px) {
    
}

/* style for device width < 900px */
@media (max-width: 899.98px) {
    .menu__position__item:hover {
        transform: scale(1);
    }
}
/* style for device width < 667px */
@media (max-width: 666.98px) {
    .menu__position__item__wrapper {
        justify-content: center;
    }
        .menu__position__item {   
            flex-grow: 1;
        }
    main {
        background-position: 100% 100%, 49% calc(100% + 43px);
        background-size: 335vw, 121%;
    }
}
/* style for device width < 575px */
@media (max-width: 574.98px) {
    .footer__bottom > * {
        min-width: 300px;
    }
}